{% if collection.handle == "original-soft-coolers" %}
<div class="soft-coolers-description">
  <b>Polar Bear Original Nylon Soft Coolers</b>
  <br> 
  <br> 
  <strong>The Insulation Sensation:</strong> 
  
  Superior insulation qualities give you long lasting performance, enabling you to keep colder longer. The Polar Bear Original Nylon Soft Cooler will keep ice frozen for 24+ hours in 100+ degree heat and is guaranteed to be leak proof / sweat proof.&nbsp;
  <br> The Polar Bear patented design is the ONLY soft cooler with this level of full coverage insulation, combined with a puncture-resistant TPU COATED NYLON liner.&nbsp;
  
  <br> 
  <br> 
  <strong>Interior Liner:</strong>&nbsp;
  In the world of soft coolers, you are only as good as your liner! The Polar Bear Original Nylon Cooler liner is the strongest, most puncture-resistant liner ever built into a soft cooler. If it's not TPU DOUBLE COATED NYLON, it's NOT a Polar Bear!&nbsp;
  
  <br> 
  <br> 
  Easy to clean, the Polar Bear Original Nylon Coolers fit about anywhere and when not in use packs away nicely! We stand behind our product with a one year warranty against manufacturer defects. We are confident you will enjoy years of performance from your Polar Bear Cooler.&nbsp;
  
  <br> <br> 
  <strong>Features:</strong> 
  <br> 
  
  <div> 
    <ul> 
      <li>FDA Food-Grade Antimicrobiaal TPU Coated Nylon Liner - Consumer Safe for Perishable Storage</li> 
      <li>1" Thick High-Density Insulation</li> 
      <li>YKK #10 Heavy-Duty Zipper</li> 
      <li>4 Heavy Duty Tie-Downs (2 on each side - not available on backpack models)</li> 
      <li>Adjustable Shoulder Strap</li> <li>YKK Heavy Duty Release Buckles</li> 
    </ul> 
  
  </div> 
  <p>Give the perfect gift! All of our Nylon Soft Coolers can be embroidered with text, monogram, or a logo.</p> 
  <br> 
  <b>Polar Bear Deluxe Series Coolers</b>
  <br> <br> <strong>KEEP ICE FOR DAYS:</strong>
  <br> The Polar Bear Deluxe Series coolers will hold ice for 3+ DAYS. It's the most well insulated soft cooler ever made! The Polar Bear encompasses full coverage CLOSED-CELL foam from top to bottom, making it leak proof, sweat proof, and water proof inside and out.&nbsp;
  
  <br> 
  <br> 
  <strong>BUCKLE-DOWN DESIGN:</strong><br> Durable, practical and easy to use, the Polar Bear's unique fold down design combines large mouth, wide-open easy access for maximum storage capacity with the ability to buckle down and tighten up for maximum space to cold-chill retention performance. The Polar Bear is the ONLY cooler, soft or hard, with this level of flexibility, performance and functionality.
  
  <br> 
  <br> 
  <strong>INTERIOR LINER:</strong>
  
  <br> The Polar Bear houses the strongest TPU DOUBLE COATED NYLON liner conceivable. The Polar Bear liner is PVC-free and FDA food grade. Our leak proof / sweat proof liner is puncture resistant, flexible when frozen and crack resistant to -77 degrees F making it nearly indestructible. If it's not TPU DOUBLE COATED NYLON, it's NOT a Polar Bear!&nbsp;
  
  <br> <br> 
  
  <strong>THE ZIPPER:</strong>
  
  <br> YKK #10 weatherized rubber coated water RESISTANT SplashGuard zipper. This zipper will keep water OUT, not IN.
  
  <br> 
  <br> <strong>OUTER SHELL:</strong>
  
  <br> If you love water activities as much as we do, then the Deluxe Series 12 Pack is the cooler for you. Featuring a Tarpaulin outer shell, the Deluxe is crafted with the same materials used to built white water rafts.&nbsp;
  
  <br> <br> <strong>ATTACHMENTS:</strong><br> The Polar Bear Deluxe Series comes equipped with 2 aluminum side release buckles (that double as bottle openers), 8 stainless steel tie downs (not available on Backpack models), as well as 4 carabiner bow tie daisy-chains, allowing you to attach it to anything that moves. If you can ride it, fly it, float it, rock it, roll it, wheel it, deal it or steal it, this cooler is coming with you!&nbsp;
  
  <br> <br> <strong>WARRANTY:</strong>
  <br> We are confident you will enjoy years of performance from your Polar Bear Cooler. We stand behind our product with a 2-Year warranty against manufacturer defects.&nbsp;
  
  <br> <br> 
  
  <strong>Features:</strong> 8 Stainless-Steel Tie Downs (not available on backpack models). Adjustable shoulder strap. Stainless steel side buckles that double as bottle openers. FDA Food-Grade Antimicrobial TPU COATED NYLON liner. Consumer safe for perishable storage
  
  <br><br> <div> 
  
  <ul> 
    <li>Field tested to hold ice for 3+ days</li> 
    <li>100% Tarpaulin Waterproof Outer Shell</li> 
    <li>Skid-resistant bottom saddle</li> 
    <li>Easy access side-pocket</li> 
    <li>YKK Splashguard Weatherized Zipper - keeps water OUT - not IN</li> 
  </ul>
  
</div>
{% endif %}
  
  
{% if collection.handle == "deluxe-soft-coolers" %}
<div class="soft-coolers-description">
  
 <b>Polar Bear Deluxe Series Coolers</b>
  <br> 
  <br> 
  <strong>KEEP ICE FOR DAYS:</strong>
  <br> The Polar Bear Deluxe Series coolers will hold ice for 3+ DAYS. It's the most well insulated soft cooler ever made! The Polar Bear encompasses full coverage CLOSED-CELL foam from top to bottom, making it leak proof, sweat proof, and water proof inside and out.&nbsp;
  <br> 
  <br> 
  <strong>BUCKLE-DOWN DESIGN:</strong>
  <br> Durable, practical and easy to use, the Polar Bear's unique fold down design combines large mouth, wide-open easy access for maximum storage capacity with the ability to buckle down and tighten up for maximum space to cold-chill retention performance. The Polar Bear is the ONLY cooler, soft or hard, with this level of flexibility, performance and functionality.<br> <br> 
  <strong>INTERIOR LINER:</strong>
  <br> The Polar Bear houses the strongest TPU DOUBLE COATED NYLON liner conceivable. The Polar Bear liner is PVC-free and FDA food grade. Our leak proof / sweat proof liner is puncture resistant, flexible when frozen and crack resistant to -77 degrees F making it nearly indestructible. If it's not TPU DOUBLE COATED NYLON, it's NOT a Polar Bear!&nbsp;<br> <br> <strong>THE ZIPPER:</strong><br> YKK #10 weatherized rubber coated water RESISTANT SplashGuard zipper. This zipper will keep water OUT, not IN.<br> <br> <strong>OUTER SHELL:</strong><br> If you love water activities as much as we do, then the Deluxe Series 12 Pack is the cooler for you. Featuring a Tarpaulin outer shell, the Deluxe is crafted with the same materials used to built white water rafts.&nbsp;<br> <br> <strong>ATTACHMENTS:</strong><br> The Polar Bear Deluxe Series comes equipped with 2 aluminum side release buckles (that double as bottle openers), 8 stainless steel tie downs (not available on Backpack models), as well as 4 carabiner bow tie daisy-chains, allowing you to attach it to anything that moves. If you can ride it, fly it, float it, rock it, roll it, wheel it, deal it or steal it, this cooler is coming with you!&nbsp;<br> <br> <strong>WARRANTY:</strong><br> We are confident you will enjoy years of performance from your Polar Bear Cooler. We stand behind our product with a 2-Year warranty against manufacturer defects.&nbsp;<br> <br> <strong>Features:</strong> 8 Stainless-Steel Tie Downs (not available on backpack models). Adjustable shoulder strap. Stainless steel side buckles that double as bottle openers. FDA Food-Grade Antimicrobial TPU COATED NYLON liner. Consumer safe for perishable storage<br><br> <div> <ul> <li>Field tested to hold ice for 3+ days</li> <li>100% Tarpaulin Waterproof Outer Shell</li> <li>Skid-resistant bottom saddle</li> <li>Easy access side-pocket</li> <li>YKK Splashguard Weatherized Zipper - keeps water OUT - not IN</li> </ul> </div>

</div>
  {% endif %}