<div class="product-description page-width">
	<div class="product-description-tabs">
		<ul>
			<li class="open"><a data-target="product-description-block" href="#" class="">Description</a></li>
			<li class=""><a data-target="product-reviews-block" href="#" class="">Reviews</a></li>
			<li class=""><a data-target="product-details-block" href="#" class="">Product Details</a></li>
			<li class=""><a data-target="product-wholesale-block" href="#" class="">Wholesale</a></li>
			<li class=""><a data-target="product-warranty-block" href="#" class="">Warranty</a></li>
		</ul>
	</div>
	<div class="product-description-blocks">
		<div class="product-description-block open">
			<b>"Nothing Keeps Cool Like A Polar Bear"</b><br>
<br>
<strong>The Insulation Sensation:</strong> Superior insulation qualities give you long lasting performance, enabling you to keep colder longer. The Polar Bear Original Nylon 12 Pack Cooler will keep ice frozen for 24+ hours in 100+ degree heat and is guaranteed to be leak proof / sweat proof.&nbsp;<br>
The Polar Bear patented design is the ONLY soft cooler with this level of full coverage insulation, combined with a puncture-resistant TPU COATED NYLON liner.&nbsp;<br>
<br>
<strong>Interior Liner:</strong>&nbsp;In the world of soft coolers, you are only as good as your liner! The Polar Bear Original Nylon 12 Pack Cooler liner is the strongest, most puncture-resistant liner ever built into a soft cooler. If it's not TPU DOUBLE COATED NYLON, it's NOT a Polar Bear!&nbsp;<br>
<br>
Easy to clean, the Polar Bear Original Nylon 12 Pack Cooler fits about anywhere and when not in use packs away nicely! We stand behind our product with a one year warranty against manufacturer defects. We are confident you will enjoy years of performance from your Polar Bear Cooler.&nbsp;<br>
<br>
<strong>Features:</strong> <br>
<div>
<ul>
<li>FDA Food-Grade Antimicrobiaal TPU Coated Nylon Liner - Consumer Safe for Perishable Storage</li>
<li>1" Thick High-Density Insulation</li>
<li>YKK #10 Heavy-Duty Zipper</li>
<li>4 Heavy Duty Tie-Downs (2 on each side - not available on backpack models)</li>
<li>Adjustable Shoulder Strap</li>
<li>YKK Heavy Duty Release Buckles</li>
</ul>
</div>
<p>Give the perfect gift! All of our Nylon Soft Coolers can be embroidered with text, monogram, or a logo. Click the "Custom Monogram" button above to personalize your cooler.</p>
<p class="u-text-center"><img src="graphics/00000001/custom-emb-banner2.jpg" alt="custom coolers" title="custom soft coolers"></p>
		</div>
		<div class="product-reviews-block">
			<div class="page-width">
				<div id="wc_review_section" class="wc_review_main_content" data-url="{{ shop.url }}" data-handle="{{ product.handle }}" data-limit="0"></div>
			</div>
		</div>
		<div class="product-details-block">
			<div style="padding: 20px;"> <div class="custom-field" id="customfields-details"><span class="bold"><p></p><h3><b style="font-size: small;">CAPACITY:</b><span style="font-size: small;"> 12 cans + 5lbs. of ice.</span><br></h3><p>
</p><p>Crafted with exceptional quality inside and out, the 12 Pack is built for everyday use. The Polar Bear Nylon Series features a heavy-duty 1000-Denier Nylon outer shell, making the cooler lightweight and easily maneuverable. While this cooler looks great on the outside, it's what's on the inside that really counts. The Polar Bear houses 1-inch thick high density foam, giving it the most cold chill impact in it's class. It's going to keep you cool even on the hottest days.</p><p></p></span></div> </div>
		</div>
		<div class="product-wholesale-block">
			<div style="padding: 20px;"> There are great opportunities available with the Polar Bear Cooler line. Polar Bear Coolers are the highest quality soft coolers made and our success over the years just goes to show that if you give someone a quality product at a fair price, they will remember you for it. The fan mail speaks for itself. <a href="/Wholesale-Sign-Up.html"><button type="button" class="btn btn--secondary-accent" style="text-decoration: none;">APPLY FOR WHOLESALE</button></a> </div>
		</div>
		<div class="product-warranty-block">
			<div style="padding: 20px;"> Thank you for being a Polar Bear Coolers Customer. Your Satisfaction is Guaranteed!
We are dedicated to providing the highest quality product possible. In doing so, we offer a 1 Year Warranty against manufacturer defects. Proper care must be taken to assure longevity. Please do not place sharp, pointed or blunt objects inside your cooler.</div>
		</div>
	</div>

</div>