
<div class="{{ collection.handle }}" data-section-id="{{ section.id }}" data-section-type="collection-template">
  <header class="collection-header">
  
    <div class="page-width">
      <div class="section-header text-center">
        <h1>{{ collection.title }}</h1>
        <hr class="c-keyline">
      </div>
    </div>
  </header>

  <div class="page-width custom-cooler-body">
    <div class="customcooler-sections">
      <div class="customcooler-item d-w-50" style="padding-right:20px;">
      	<img src="{{'welcome-custom-1.jpg' | asset_url}}">
      </div>

      <div class="customcooler-item d-w-50" style="padding-left:20px;">
      </div>
    </div>
  </div>

</div>