$(document).ready(function() {
	$('.shop-category-dropdown-left ul li').hover(function(){
		var selected_shop_category = $(this).find('a').data('value');
		$('.category-dropdown-right-item').removeClass('active');
		$('.category-dropdown-right-item[data-value="' + selected_shop_category + '"]').addClass('active');
	});

	$('body')
		.on('click', '.header-middle--category button', function() {
			$(this).closest('.header-middle--category').toggleClass('active');
			$('.header-shop-category-dropdown').toggleClass('is-open');
		})
		.on('click', '.header-middle--cart img', function() {
			// $('.cart-popup-wrapper').addClass('is-transitioning').removeClass('cart-popup-wrapper--hidden');
		})
		.on('click', '.header-middle--sign a', function() {
			$(this).closest('.header-middle--sign').toggleClass('active');
			$('.header-login-form').toggleClass('active');
		})
		.on('click', '.product-description-tabs a', function() {
			let $el = $(this).parent();
			let $target = $('.product-description-blocks').find('.' + $(this).data('target'));
			$el.addClass('open').siblings().removeClass('open');
			$target.addClass('open').siblings().removeClass('open');
		})
		.on('click', '.product-single-specifications', function() {
			$(this).toggleClass('active');
		})
		.on('click', '.wc_product_review_badge', function(e) {
			e.preventDefault();
			e.stopPropagation();
			showReview();
		})
		.on('click', '.write-review', function(e) {
			e.preventDefault();
			showReviewForm();
		})
		.on('click', '.footer-logo-links .h4', function(e) {
			$(this).parent().toggleClass('active');
		})
		.on('click', '.shop-category-dropdown-left .sub-trigger', function() {
			var selected_shop_category = $(this).prev().data('value');
			$('.category-dropdown-right-item').removeClass('active');
			$('.category-dropdown-right-item[data-value="' + selected_shop_category + '"]').addClass('active');
			$('.shop-category-dropdown-left').removeClass('active');
			$('.shop-category-dropdown-right').addClass('active');
		})
		.on('click', '.shop-category-dropdown-right .back-main', function() {
			$('.shop-category-dropdown-right').removeClass('active');
			$('.shop-category-dropdown-left').addClass('active');
		})
		.on('click', '.header-middle--cart svg', function() {
			$(this).toggleClass('active');
			$('#sticky-slidedown-cart').toggleClass('active');
		})
		.on('click', '.mini-products-list .btn-remove', function() {
			let $item = $(this).closest('.item');
			let relation = $item.attr('data-relation');
			let qty_list = [];
			$('.mini-products-list .item').each(function(idx, item) {
				if ($(item).attr('data-relation') == relation) {
					qty_list.push(0);
				} else {
					qty_list.push(parseInt($(item).find('.qty').text().split(':')[1].trim()));
				}
			});
			$.post('/cart/update.js', {updates: qty_list}, function(cart) {
				buildMiniCart(cart);
			}, "json");
		});


	$('.product-main-image').on('init', function(event, slick){
    $('.product-main-image.slick-initialized').css({'opacity': '1', 'visibility': 'visible'});
	});

	$('.product-thumb-images').on('init', function(event, slick){
    $('.product-thumb-images.slick-initialized').css({'opacity': '1', 'visibility': 'visible'});
	});

 	$('.product-main-image').slick({
	  slidesToShow: 1,
	  slidesToScroll: 1,
	  arrows: false,
	  fade: true,
	  asNavFor: '.product-thumb-images',
	});
	$('.product-thumb-images').slick({
	  slidesToShow: 5,
	  slidesToScroll: 1,
	  asNavFor: '.product-main-image',
	  dots: false,
	  centerMode: false,
  	focusOnSelect: true,
	  vertical: true,
	  verticalSwiping: true,
	  responsive: [
	    {
	      breakpoint: 600,
	      settings: {
	        vertical: false,
	        slidesToShow: 3,
	      }
	    }
	  ]
	 });


	$('.product-popup').magnificPopup({
		disableOn: 700,
		type: 'iframe',
		mainClass: 'mfp-fade',
		removalDelay: 160,
		preloader: false,
		fixedContentPos: false
	});

	$('body').on('click', '#RecoverPassword', function() {
		$('.recovery-pass-form').toggleClass('hide');
	});
});

function showReview() {
	const target = "product-reviews-block";
	$('.product-description-tabs').find('li').removeClass('open').find(`[data-target="${target}"]`).parent().addClass('open');
	$('.product-description-blocks').children().removeClass('open').filter(`.${target}`).addClass('open');
	$('html, body').animate({
     scrollTop: $("#wc_review_section").offset().top
  }, 1000);
}

function showReviewForm() {
	const target = "product-reviews-block";
	$('.product-description-tabs').find('li').removeClass('open').find(`[data-target="${target}"]`).parent().addClass('open');
	$('.product-description-blocks').children().removeClass('open').filter(`.${target}`).addClass('open');
	$('#wc_product_review_form').show();
	$('html, body').animate({
     scrollTop: $("#wc_product_review_form").offset().top
  }, 1000);
}

function buildMiniCart(cart) {
	let $minicart = $('.mini-cart');
	let $noItems = $minicart.find('.no-items');
	let $hasItems = $minicart.find('.has-items');
	let productListHtml = '';
	let count = 0;
	
	$hasItems.find('.total .price').text(Shopify.formatMoney(cart.total_price));
	
	cart.items.forEach(function(item, idx) {
		if (item.product_type == 'mw_motivator_product' || item.product_type == 'mw_hidden_cart_fee') return;

		let style = (item.product_type == 'mw_product_option' || item.properties._mw_is_variant) ? 'style="display:none"' : '';
		let image = item.image ? item.image.replace(/(\.jpg|\.png)/g, '_small$1') : '';
		let price = getMwPrice(cart, item);
		let variant = getMwProperties(item);
		if (item.product_has_only_default_variant == false) {
			let temp = '';
			item.options_with_values.forEach(function(option) {
				temp += `<span class="option-cart-title">${option.name}:</span><span class="option-cart-title-content">${option.value}</span><br/>`;
			});
			variant = temp + variant;
		}

		productListHtml += `
			<li class="item mw_cart_line" ${style} id="cart-item-${item.id}" data-id="${item.id}" data-index="${ idx + 1 }" data-relation="${item.properties._mw_option_relation}">
				<a href="${item.url}" title="${item.title}" class="product-image">
					<img src="${image}" alt="${item.title}"></a>
				<div class="product-details">
					<p class="product-name"><a href="${item.url}">${item.product_title}</a></p>
					<span class="price">${price}</span>
					<span class="variant">${variant}</span>
					<div class="product-qty">
						<span class="qty"><span>{{ 'cart.label.qty' | t }}:</span> ${item.quantity}</span>
						<a href="javascript:void(0)" title="Remove This Item" class="btn-remove">{{ 'cart.general.remove' | t }}</a>
					</div>
				</div>
			</li>`;

		if (style == '') count++;
	});

	$hasItems.find('.mini-products-list').html(productListHtml);
	
	if (count > 0) {
		$noItems.addClass('hide');
		$hasItems.removeClass('hide');
	} else {
		$noItems.removeClass('hide');
		$hasItems.addClass('hide');
		// clearCart();
	}

	updateHeaderCartCount(count);

	return count;
}

function updateHeaderCartCount(cart_item_count) {
	$('.site-header .header-cart-count').text(cart_item_count);
}

function getMwPrice(cart, item) {
	let productPrice = 0;
	let onetimePrice = 0;
	let total = 0;
	for (i in cart.items) {
		if (item.properties._mw_option_relation) {
			if (item.properties._mw_option_relation == cart.items[i].properties._mw_option_relation) {
				productPrice = cart.items[i].line_price + productPrice;
				total = productPrice / item.quantity;
			}
		} else {
			total = item.price;
		}
	}
	return Shopify.formatMoney(total);
}

function getMwProperties(item) {
	let html = '';
	if (Object.keys(item.properties).length > 0 && item.product_type != 'mw_product_option') {
		for (p in item.properties) {
			if (item.properties[p] != '') {
				if (p.indexOf('_mw_option_relation') >= 0) continue;
				if (p.indexOf('_replaced_image') >= 0) continue;
				if (p.indexOf('_builder_id') >= 0) continue;
				if (p.indexOf('_master_builder') >= 0) continue;
				html += '<br>';
				html += `<span class="option-cart-title">${p}:</span>`;
				if (item.properties[p].indexOf('/uploads/') >= 0) {
					let url = item.properties[p].split('/');
					html += `<a class="lightbox" href="${ item.properties[p] }">${ url[url.length - 1] }</a>`;
				} else {
					html += `<span class="option-cart-title-content">${ item.properties[p] }</span>`;
				}
			}
		}
		html += '<br><span class="mw-configure-link-container"></span>';
	}
	return html;
}

function clearCart() {
	$.post('/cart/clear.js');
}