<div class="page-width {{ page.handle }}">
  
      <div class="section-header text-center">
        <h1>Custom Cooler Shop</h1>
        <hr class="c-keyline">
      </div>

      
  
  <!-- first row -->
  <div class="rte">
        
        <div class="grid-50">
          <img src="https://cdn.shopify.com/s/files/1/0510/2174/2238/files/welcome-custom-1.jpg?v=1606040656" />
        </div>
        
         <div class="grid-50">
          
           
          <h2 style="text-transform:none;">One Product... Many Uses!</h2> 
           
           <p>Polar Bear Coolers offers quick turnaround on high quality custom logo embroidery with NO MINIMUMS. 
             Join the thousands who have co-branded with Polar Bear Coolers and find out what it's like to be on the receiving end of the world's finest quality 
             performance soft coolers.
           </p> 
           
           
           
           <h3 style="text-align:center;margin-top:5px;">Make it your own!</h3> 
           
           <p style="text-align:center;">Submit a logo...<span class="uppercase">Get a Quote</span> </p> 
           
           <p style="text-align:center;">It's quick, it's easy and it's free!</p>
        
        
           
          <a href="javascript:void( window.open( 'https://form.jotform.com/200213682765049', 'blank', 'scrollbars=yes, toolbar=no, width=700, height=500' ) ) ">
            <button class="organge-submit-logo" type="button" style="text-decoration: none;">SUBMIT YOUR LOGO OR GRAPHIC</button>
           </a> 
           
           
           <p style="padding-top: 10px;">Receive a layout within 24 hours, or speak with a Team Polar Bear Member now! <a href="tel:888-438-7924">888-438-7924</a></p> 
          
           <h3 style="text-align:center;margin-top:5px;">4 Sizes - 7 colors - One great product!</h3> 
          
         <div class="display-flex"> 
          <div class="column medium-half u-text-center"> 
           <h2 class="uppercase orange">12-pack</h2> 
            <img src="https://cdn.shopify.com/s/files/1/0510/2174/2238/files/pb120-1-polar-bear-coolers-nylon-12-pack.jpg?v=1606041596" alt="12-pack cooler image" title="12-pack cooler image" style="max-height: 75px;"> 
            <img src="https://cdn.shopify.com/s/files/1/0510/2174/2238/files/2017-03-07-4.png?v=1606041633" alt="12-pack cooler payload" title="12-pack cooler payload"> 
           </div> 
           
           <div class="column medium-half u-text-center"> 
             <h2 class="uppercase orange">24-pack</h2> 
             <img src="https://cdn.shopify.com/s/files/1/0510/2174/2238/files/pb243-1-polar-bear-coolers-nylon-24-pack.jpg?v=1606041702" alt="24-pack cooler image" title="24-pack cooler image" style="max-height: 75px;"> 
             <img src="https://cdn.shopify.com/s/files/1/0510/2174/2238/files/2017-03-07-7.png?v=1606041732" alt="24-pack cooler payload" title="24-pack cooler payload"> 
           </div> 
        </div> 
        
        <div class="display-flex" style="margin-top:30px;"> 
          <div class="column medium-half u-text-center"> 
            <h2 class="uppercase orange">48-pack</h2> 
            <img src="https://cdn.shopify.com/s/files/1/0510/2174/2238/files/pb482-1-polar-bear-coolers-nylon-48-pack.jpg?v=1606041807" alt="48-pack cooler image" title="48-pack cooler image" style="max-height: 75px;"> 
            <img src="https://cdn.shopify.com/s/files/1/0510/2174/2238/files/2017-03-07-9.png?v=1606041852" alt="48-pack cooler payload" title="48-pack cooler payload"> 
          </div> 
          
          <div class="column medium-half u-text-center"> 
            <h2 class="uppercase orange">Backpack</h2> 
            <img src="https://cdn.shopify.com/s/files/1/0510/2174/2238/files/pb299-2-polar-bear-coolers-nylon-backpack.jpg?v=1606041808" alt="Backpack cooler image" title="Backpack cooler image" style="max-height: 75px;"> 
            <img src="https://cdn.shopify.com/s/files/1/0510/2174/2238/files/2017-03-07-11.png?v=1606041851" alt="Backpack cooler payload" title="Backpack cooler payload"> 
          </div> 
          </div> 
         
        </div>
      </div>
  <!-- end first row -->
  
  
<hr style="margin: 50px 0px;">
  
  
  <div class="rte">
    <div class="grid-50">
      
      <h2 class="u-text-bold u-text-center">Your Logo Here</h2>
      <p class="u-text-center">Once you submit your logo you will receive a layout Like this one depicting your logo on the coolers you have selected!</p>
      
       <a href="javascript:void( window.open( 'https://form.jotform.com/200213682765049', 'blank', 'scrollbars=yes, toolbar=no, width=700, height=500' ) ) ">
            <button class="organge-submit-logo" type="button" style="text-decoration: none;">SUBMIT YOUR LOGO OR GRAPHIC</button>
           </a> 
      <br /><br />
           
           <p class="u-text-center">Receive a layout within 24 hours or speak with a Team Polar Bear Member now!</p>
      
     <h4 class="u-text-center" style="margin-top:0px;">888-438-7924</h4>
      
       <h2 class="u-text-bold u-text-center" style="margin-top:0px;text-transform:none;font-size:23px;">Superior Craftsmanship / Superior Peformance</h2>
      
      
      <h4 class="u-text-center" style="margin-top:0px;">Nothing Keeps Cool Like a Polar Bear</h4>

     <div class="rte">
       <div class="grid-66">
         <p>The Polar Bear Cooler is the most useful, durable and well insulated soft cooler you can own. It is the #1 best promotional embroidered logo product with 
           the highest customer to customer satisfaction rate. When you own a Polar Bear, you are owning the best!</p>

         <p>The Polar Bear air trap design keeps ice for 24+ hours in extreme heat conditions. We know! It looks like a camera bag, but it packs a serious punch!</p>


       </div>
       <div class="grid-33"> 
         <img src="https://cdn.shopify.com/s/files/1/0510/2174/2238/files/kettle-1.jpg?v=1606095419" />
       </div>
      </div>
      
      <a href="javascript:void( window.open( 'https://form.jotform.com/200213682765049', 'blank', 'scrollbars=yes, toolbar=no, width=700, height=500' ) ) ">
            <button class="organge-submit-logo" type="button" style="text-decoration: none;">SUBMIT YOUR LOGO OR GRAPHIC</button>
           </a> 
      <br />
      <br />
      <p class="u-text-center">Receive a layout within 24 hours or speak with a Team Polar Bear Member now!</p>
      
           <h2 class="u-text-center" style="margin-top:0px;">888-438-7924</h2>
   		  <h2 class="u-text-center" style="margin-top:0px;text-transform:none;">Nothing Keeps Like Quality</h2>
      
      <p>When you associate your brand with quality, you get more bang for your buck! Polar Bear Coolers are the heist quality, most useful and user friendly soft coolers made.</p>

      
      <div class="rte">
       <div class="grid-66">
         <p>All Soft Coolers liners are not the same! Polar Bear houses the strongest and most durable, leak proof, sweat proof liner ever built into a soft cooler. 
           The Polar Bear's TPU double coated nylon liner is PVC Free, Antimicrobial, FDA Food Grade and Consumer safe for perishable storage. 
           It's nearly impossible to puncture. If it's not TPU double coated nylon, It's not a Polar Bear!
		</p>

         <p>The Polar Bear air trap design keeps ice for 24+ hours in extreme heat conditions. We know! It looks like a camera bag, but it packs a serious punch!</p>


       </div>
       <div class="grid-33"> 
         <img src="https://cdn.shopify.com/s/files/1/0510/2174/2238/files/polarbearstamp.jpg?v=1606095880" />
       </div>
      </div>
      
      
      <p class="u-text-center">Sure the outside looks great, but it's whats on the inside that really counts!<br /><br />
  	    <img src="https://cdn.shopify.com/s/files/1/0510/2174/2238/files/cloud-9.jpg?v=1606096070" />
      </p>
      
       <p class="u-text-center">
      TPU Double Coated Nylon<br /><br />

		It's the good stuff!
      </p>
      
      <a href="javascript:void( window.open( 'https://form.jotform.com/200213682765049', 'blank', 'scrollbars=yes, toolbar=no, width=700, height=500' ) ) ">
            <button class="organge-submit-logo" type="button" style="text-decoration: none;">SUBMIT YOUR LOGO OR GRAPHIC</button>
           </a>
       <p class="u-text-center">Receive a layout within 24 hours or speak with a Team Polar Bear Member now!><br /><br />888-438-7924</p>
      
    </div>
    
    
    
    
    
    <div class="grid-50">
          <img src="https://cdn.shopify.com/s/files/1/0510/2174/2238/files/custom-page-image1.jpg?v=1606042054" />
    </div>
    
  </div>
  
  
  
  
  <hr style="margin: 50px 0px;">
  
  <div class="u-text-center" style="margin-bottom:55px;"> 
    <h2 class="u-text-bold">Nothing Keeps Like Quality</h2> 
    <p>When you associate your brand with quality, you get more bang for your buck! Polar Bear Coolers are the heist quality, 
      most useful and user friendly soft coolers made.</p> 
  </div>
  
  
  
</div>
