<div class="page-width">
  <div class="grid page-wrapper page-wrapper--wholesale">
    <div class="d-w-100">
      <h1>{{ page.title }}</h1>

      <div class="page-wholesale-inner">
        <div class="d-w-50 content-inner-left">
          <script type="text/javascript" src="https://form.jotform.com/jsform/200404634188148"></script>
        </div>
        <div class="d-w-50 content-inner-right">
          {% if page.content.size > 0 %}
            {{ page.content }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
